*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
html{
background-image: url(/images/bg-pattern-desktop.svg);
font-family: 'Josefin Sans', sans-serif;
}
.one img{
    position: relative;
    left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.two{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 5vh;
}
.img img{
    width: 100%;
}
.two{
    color: hsl(0, 6%, 24%);
}
.two span{
    color: hsl(0, 36%, 70%);
}
.three{
    text-align: center;
    color: hsl(0, 36%, 70%);
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 4vh;
}
.aaa{
    height: 8vh;
    width: 60vw;
    border-radius: 3rem;
    padding-left: 2rem;
    border-color: hsl(0, 91%, 93%);
    border-width: 1px;
}
.bbb{
    height: 7vh;
    width: 16vw;
    border-radius: 1rem;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-width: 0;
}